#container { width: 500px; margin: 20px auto;}
h2, p { text-align: center;}
.box { width: 100%; text-align: right; margin-bottom: 5px;}
.box>a { text-decoration: none; color: blue;}
.box>a:hover { text-decoration: underline; text-shadow: 1px 1px 1px skyblue;}
#deleteForm { border: 1px solid #000; padding: 20px;}
#id { background-color: #eee;}
.box2 { margin: 15px 0;}
.box2>label { width: 100px; display: inline-block; margin-left: 20px;}
.box2>input { width: 300px; height: 25px; padding-left: 5px;}
.btns { text-align: center;}
.btns>input { width: 110px; height: 40px; background-color: #000; color: #fff;
	border: none; border-radius: 5px; font-weight: bold; margin: 10px 30px 0; cursor: pointer;}
.btns>input:hover { box-shadow: 0 0 3px 3px ligthgray;}