#container { width: 600px; margin: 20px auto;}
h2 { text-align: center;}
#insertForm { border: 1px solid #000; padding: 20px;}
.box { margin: 10px 0;}
.box>label { width: 110px; display: inline-block; margin-left: 20px;}
.box>input { width: 200px; height: 25px; padding-left: 5px;}
.box>#email { width: 250px;}
.box>#address1 { width: 300px;}
.box>#address2 { width: 300px; margin-top: 10px;}
#btnIdChk { margin-left: 20px; width: 100px; height: 32px; border: none; 
	background-color: #dc143c; color: white; border-radius: 5px; cursor: pointer;}
#btnIdChk:hover { background-color: #8d192b;}
#btnAddress { margin-left: 20px; width: 80px; height: 32px; border: none; 
	background-color: #24a424; color: white; border-radius: 5px; cursor: pointer;}
#btnAddress:hover { background-color: #008d62;}
#s_id_chk, #s_pwd_chk, #s_email_chk, #s_phone_chk { font-size: 0.8em;}
.chk_2 { color: gray;}
.chk_1 { color: red;}
.chk_0 { color: blue;}
.btns { text-align: center;}
.btns>input { width: 110px; height: 40px; background-color: #000; color: #fff;
	border: none; border-radius: 5px; font-weight: bold; margin: 10px 30px 0; cursor: pointer;}
.btns>input:hover { box-shadow: 0 0 3px 3px ligthgray;}