#container { width: 600px; margin: 0px auto;}
h2 { text-align: center;}
.box { width: 100%; text-align: right; margin-bottom: 5px;}
.box>a { text-decoration: none; color: blue;}
.box>a:hover { text-decoration: underline; text-shadow: 1px 1px 1px skyblue;}
table { width: 100%; border: 1px solid black; border-collapse: collapse;}
tr { height: 50px;}
th, td { border: 1px solid black;}
th { width: 20%; background-color: #eee;}
td { width: 80%; padding-left: 10px;}
.btns { text-align: center;}
.btns>input { width: 110px; height: 40px; background-color: #000; color: #fff;
	border: none; border-radius: 5px; font-weight: bold; margin: 10px 30px 0; cursor: pointer;}
.btns>input:hover { box-shadow: 0 0 3px 3px ligthgray;}