#container { width: 600px; margin: 0px auto;}
h2 { text-align: center;}
.box { width: 100%; text-align: right; margin-bottom: 5px;}
.box>a { text-decoration: none; color: blue;}
.box>a:hover { text-decoration: underline; text-shadow: 1px 1px 1px skyblue;}
table { width: 100%; border: 1px solid black; border-collapse: collapse;}
tr { height: 50px;}
th, td { border: 1px solid black;}
th { width: 20%; background-color: #eee;}
td { width: 80%; padding-left: 10px;}
td>input { width: 200px; height: 25px; padding-left: 5px;}
td>#email { width: 200px;}
td>#address1, td>#address2 { width: 300px; margin: 5px 0;}
tr:first-child input { background-color: #eee;}
tr:first-child span { font-size: 0.8em; color: #f00;}
#s_pwd_chk, #s_email_chk, #s_phone_chk { font-size: 0.8em;}
#btnAddress { margin-left: 20px; width: 80px; height: 32px; border: none; 
	background-color: #24a424; color: white; border-radius: 5px; cursor: pointer;}
#btnAddress:hover { background-color: #008d62;}
.btns { text-align: center;}
.btns>input { width: 110px; height: 40px; background-color: #000; color: #fff;
	border: none; border-radius: 5px; font-weight: bold; margin: 10px 30px 0; cursor: pointer;}
.btns>input:hover { box-shadow: 0 0 3px 3px ligthgray;}