#container { width: 450px; margin: 20px auto;}
h2, p { text-align: center;}
#loginForm { border: 1px solid #000; padding: 20px; margin-top: 40px;}
.box { margin: 15px 0;}
.box>label { width: 100px; display: inline-block; margin-left: 20px;}
.box>input { width: 200px; height: 25px; padding-left: 5px;}
.btns { text-align: center; margin-top: 30px; margin-bottom: 0;}
.btns>input { width: 150px; height: 45px; background-color: #000; color: #fff; font-size: 1.05em;
	border: none; border-radius: 5px; font-weight: bold; margin: 10px 30px 0; cursor: pointer;}
.btns>input:hover { box-shadow: 0 0 3px 3px ligthgray;}