#container { width: 1400px; margin: 20px auto; font-size: 0.8em;}
h2 { text-align: center;}
.box { width: 100%; text-align: right; margin-bottom: 5px;}
.box>a { text-decoration: none; color: dimgray;}
.box>a:hover { text-decoration: underline; text-shadow: 1px 1px 1px darkgray;}
table { width: 100%; border: 1px solid #000; border-collapse: collapse;}
tr { height: 30px;}
th, td { border: 1px solid #000; text-align: center;}
th { background-color: #eee;}
td:nth-child(11) { text-align: left;}
.btns { text-align: center;}
.btns>input { width: 110px; height: 40px; background-color: #000; color: #fff;
	border: none; border-radius: 5px; font-weight: bold; margin: 10px 30px 0; cursor: pointer;}
.btns>input:hover { color: ligthgray;}